:root{
    --primaryColor:#3959d7;
    --primaryColorLight:hsl(223, 100%, 97%);
    --primaryColorDark:hsl(216, 58%, 28%);
    --gradientLight:rgb(114, 145,255);
    --bgColor:hsl(0, 0%, 100%);
    --formColor:hsl(20, 42%, 87%);
    --whiteColor:#f5f5f9;
    --blackColor:hsl(0, 0%, 18%);
    --shadowColor:hsl(219, 63%, 95%);
    --inputColor:hsl(330, 12%, 97%);
    --cardColor:hsl(300, 3%, 94%);
    --orangeColor:hsl(25, 84%, 53%);
    // linear-gradient(40deg, rgb(114, 145, 255), rgb(42,73,198))



    --biggestFontSize:2.5rem;
    --h1FontSize: 1.6rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: 0.938rem;
    --smallFontSize: 0.813rem;
    --smallestFontSize: 0.75rem;
    --borderRadius: 10px;
}

.about{
    .secContainer{
        flex-direction: column;
        flex-flow: column-reverse;
        gap: 1.5rem;
        .textDiv{
            .secTitle{
                text-align: left;
                h1{
                    display: block;
                    font-weight: 700;
                    color: var(--primaryColorDark);
                }
                p{
                    margin-bottom: 2rem;
                }
            }
            .accordion{
                gap: .5rem;
                align-items: flex-start;

                .singleAccordion{
                    width: 100%;
                    .icon{
                        color: var(--primaryColor);
                        background: var(--primaryColorLight);
                        padding: 3px;
                        border-radius: 3px;
                        font-size: 23px;
                    }
                
                    .accordionTitle{
                        cursor: pointer;
                        justify-content: space-between;
                        align-items: center;
                        padding: 1rem;
                        border:1px solid hsl(219, 63%, 95%);
                        border-radius: var(--borderRadius);
                
                        .flex{
                            align-items: center;
                            display: flex;
                            gap: .5rem;
                            justify-content: center;
                
                            .titleText{
                                font-weight: 600;
                                color: var(--primaryColorDark);
                                font-size: var(--normalFontSize);
                            }
                        }
                    }
                
                    .description{
                        font-size: var(--normalFontSize);
                        display: flex;
                        align-items: center;
                        align-items: center;
                        width: 100%;
                        line-height: 25px;
                        height: 0px;
                        transition: all 0.3s ease-in-out;
                        border-radius: 0 0 var(--borderRadius) var(--borderRadius);
                        opacity: 0;
                    
                        padding: 0.3rem 1rem 1.5rem;
                        color: var(--primaryColorDark);
                    }
                
                    .show{
                        height: 185px;
                        opacity: 0.7;
                    }
                
                    .activeTitle{
                        border: 1px solid transparent;
        
                    }
                }

                .activeAccordion{
                    box-shadow: 0 4px 8px var(--shadowColor);
                    border-radius: var(--borderRadius);
                    border: 1px solid var(--shadowColor);
                  
                }
            }
        }
    }
}

@media screen and (min-width:520px) {
    .about{
        .secContainer{
            textDiv{
                flex-basis: 50%;
                .accordion{
                    gap: 1rem;

                    .singleAccordion{
                        width: 100%;
                        .description{
                            padding: 1.5rem  1rem;
                        }
                    }
                }
            }
        }
    }
}



@media screen and (min-width:720px) {
    .about{
        .secContainer{
            flex-direction: row !important;
            gap: 2rem;
            height: 100%;
            align-items: flex-start;

        }
    }
}


@media screen and (min-width:1400px) {
    .about{
        .secContainer{
            justify-content: space-around;
            align-items: flex-start;
            .textDiv{
                flex-basis: 45%;
                .singleAccordion{
                    .description{
                        padding: 0 1rem 1.5rem;
                    }
                    .show{
                        height: 100%;

                    }
                }
            }

        }
        .imgDiv{
            flex-basis: 40%;
        }
    }
}
